

.text-field {
    -fx-font-size: 15pt;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-text-fill: Orange;
    -fx-control-inner-background: derive(#1d1d1d,20%);
}

.text-area {
    -fx-background-color: white;
    -fx-control-inner-background: pink;
    -fx-font-family: "Book Antiqua";
    -fx-font-size: 15pt;
    -fx-padding: 5 5 5 5;
}
